$def-border: 2px solid black;
$def-font-size: 16px;
$title-font-size: 32px;
$section-font-size: 24px;
$max-mobile: 600px;
$max-tablet: 1024px;
$min-desktop: 1025px;
$main-color: #e0e4cc;
$box1-color: #69d2e7;
$box2-color: #f38630;
$box3-color: #e9aeaf;