body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    
    img {
        width: 80px;
        height: auto;
    }
    
    h1 {
        font-family: 'Lora', serif;
        font-weight: 300;
        font-size: 32px;
        margin-left: 15px;
    }

    nav {
        margin-left: auto; 
        text-align: right;
        padding: 10px;
        
        a {
            color: black;
            text-decoration: none;
            margin: 0 10px;
        }
    }
}

.main {
    padding: 20px;
    display: flex; /* Ustawiamy flexbox na głównym kontenerze */
    flex-wrap: wrap; /* Jeśli zabraknie miejsca, elementy przełamią się do nowego wiersza */
    gap: 20px; /* Odstęp między elementami */
}

.boxes {
    display: flex; /* Ustawiamy flexbox na kontenerze .boxes */
    gap: 20px; /* Odstęp między elementami .boxes */
}

.boxes div {
    background: #e0e4cc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px; /* Szerokość każdego elementu */
}


footer {
    text-align: center;
    padding: 15px;
    background: #e0e4cc;
    color: black;
    border-top: 2px solid #333;
    line-height: 0.5;
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}