$def-border: 2px solid black;
$def-font-size: 16px;
$title-font-size: 32px;
$section-font-size: 24px;
$max-mobile: 600px;
$max-tablet: 1024px;
$min-desktop: 1025px;

header {
    display: flex;
    align-items: center;
    
    // logo + title disappear when on mobile
    @media all and (max-width: $max-mobile) {
        display: none;
    }

    .logo {
        width: 80px;
        height: auto;
    }
    
    h1 {
        font-family: 'Lora', serif;
        font-weight: 300;
        font-size: $title-font-size;
        margin-left: 15px;
    }

    nav {
        margin-left: auto; 
        text-align: right;
        padding-top: 0px;
        transform: translateY(-15px);
        
        a {
            color: black;
            text-decoration: none;
            margin: 0 10px;
        }
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;  
    padding-left: 20px;
    padding-right: 20px;    
    box-sizing: border-box;
}

.main {
    padding: 20px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
}

.boxes {
    display: flex; 
    justify-content: center;
    gap: 30px; 
    padding-top: 50px;
}

// all boxes
.boxes div { 
    position: relative;
    background: #e0e4cc;
    width: 400px; 
    height: 310px;
    max-height: 310px;
    overflow: hidden;
    border: $def-border; 
    padding-top: 100px;

    h2 {
        font-weight: 200;
        display: flex; 
        justify-content: center; 
        align-items: center;
        position: absolute;
        text-align: right;
        width: 220px;
        height: 40px;
        top: 5px;
        right: 5px;
        padding: 5px 10px;
        border: $def-border; 
        font-size: $section-font-size;
        color: black;
    }

    p {
        padding: 0px 15px 0px 15px;
        font-size: $def-font-size;
    }
}

.box1 h2 {
    background: #69d2e7; 
}

.box2 h2 {
    background: #f38630; 
}

.box3 h2 {
    background: #e9aeaf; 
}


footer {
    padding: 15px;
    background: #e0e4cc;
    border-top: $def-border;
    line-height: 0.5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    p {
        font-size: $def-font-size;
        color: black;
        text-align: center;
    }
}