$def-border: 2px solid black;
$def-font-size: 16px;
$title-font-size: 32px;
$section-font-size: 24px;
$max-mobile: 600px;
$max-tablet: 1024px;
$min-desktop: 1025px;
$main-color: #e0e4cc;
$box1-color: #69d2e7;
$box2-color: #f38630;
$box3-color: #e9aeaf;


header {
    display: flex;
    align-items: center;
    margin: 30px 30px 0px 30px;
    
    // logo + title disappear when on mobile
    @media all and (max-width: $max-mobile) {
        display: none;
    }

    .logo {
        width: 80px;
        height: auto;
    }
    
    h1 {
        font-family: 'Lora', serif;
        font-weight: 300;
        font-size: $title-font-size;
    }

    nav {
        margin-left: auto; 
        text-align: right;
        padding-top: 0px;
        transform: translateY(-15px);
        
        a {
            color: black;
            text-decoration: none;
            margin: 0 10px;
        }
    }
}

body {
    font-family: Arial, sans-serif;  
    box-sizing: border-box;
}

.main {
    display: flex; 
    flex-wrap: wrap; 
    flex: 1 0 auto;
}

.box-title {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: $def-border;
    border-bottom: $def-border;
    
    h2 {
        margin: 0;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
}

.box1 .box-title { background: $box1-color; }
.box2 .box-title { background: $box2-color; }
.box3 .box-title { background: $box3-color; }

.boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.box1, .box2, .box3 {
    position: relative;
    width: 400px;
    height: auto;
    background-color: $main-color;
    padding: 80px 15px 15px 15px;
    border: $def-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
        padding: 0px 10px 0px 10px;
        font-size: $def-font-size;
        text-align: justify;
    }
}

footer {
    padding: 15px;
    background: $main-color;
    border-top: $def-border;
    line-height: 0.5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    p {
        font-size: $def-font-size;
        color: black;
        text-align: center;
    }
}