* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7efff;
  box-shadow: 0 4px 3px rgba(152, 117, 187, 0.12);
}

.logo-and-title {
  display: flex;
}

.logo-and-title > img {
  width: 40px;
  height: 40px;
  margin-top: 56px;
}

.logo-and-title > h1 {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  color:rgb(166, 117, 187);
  font-size: 60px;
  margin-bottom: 15px;
}

.container {
  margin: 45px;
  display: flex;
  flex-wrap: wrap;   
  gap: 30px;
  justify-content: center;              
}

article.collection-entry {
  border: solid 1px #e4e4e4;
  box-shadow: 1px 1px 8px rgba(152, 117, 187, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  width: 250px;    
  height: 350px;        
  box-sizing: border-box;
  align-items: center;
  overflow: hidden; 
  position: relative;
  color: rgb(131, 81, 152);
}

article.collection-entry .main-image-container {
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
}

article.collection-entry .main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  align-self: center;
  border-radius: 5px;
}

article.collection-entry .info-container {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.entry-name {
  text-align: center;    
  display: flex;   
  justify-content: center; 
}

.search-bar {
  margin: 0px 0px 20px 0px;
  display: flex;
  gap: 10px;
}

.search-bar > input {
  border-radius: 10px;
  border: solid 2px #9b80ad89;
  width: 250px;
  height: 25px;
  margin-bottom: 15px;
}

.search-bar > input:focus {
  border: solid 2px #9b80ad89;
  outline: none;
}

.options-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3px;
}

.options-button > img {
  height: 16px;
  width: auto;
  padding: 0;
}

select {
  width: 120px;
  height: 25px;
  border: solid 2px #9b80ad89;
  border-radius: 10px;
}

select:focus {
  outline: none;
}

.sort-container option {
  color: #653f78;
}

.sort-container select {
  color: #653f78;
}

.search {
  display: flex;
  gap: 3px;
}

.search-input {
  color: #653f78;
}

.search-input::placeholder {
  color: #653f78;
}

footer {
  padding: 15px;
  line-height: 0.5;
  margin-top: auto;
  background: #f7efff;
  box-sizing: border-box;
}

footer p {
  font-size: 20px;
  color: rgb(131, 81, 152);
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.options-menu {
  position: absolute;
  top:17px;
  right: 22px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: solid 1px #9b80ad89;
  list-style: none;
  padding: 5px 8px 5px 8px; 
  width: 60px;
  box-shadow: 0 4px 3px rgba(152, 117, 187, 0.12);
}

.options-menu li {
  padding: 0px;
  cursor: pointer;
}

.options-menu li:hover {
  background-color: #f7efff;
}

.edit-form {
  position: absolute;
  top: 32px;
  right: 22px;
  background-color: white;
  border: solid 1px #9b80ad89;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
  display: flex;
  gap: 5px;
}

.edit-form input, button {
  border: solid 1px #9b80ad89;
  border-radius: 5px;
  color: #653f78;
}

.edit-form button {
  background-color: #f7efff;
}

.new-entry-content {
  border: solid 1px #e4e4e4;
  box-shadow: 1px 1px 8px rgba(152, 117, 187, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  width: 250px;    
  height: 350px;        
  box-sizing: border-box;
  align-items: center;
  overflow: hidden; 
  position: relative;
  color: rgb(131, 81, 152);
}

.plus-image {
  border-radius: 10px;
  display: flex;
  padding: 13px;
  padding-bottom: 20px;
  width: 250px;    
  height: 350px;        
  box-sizing: border-box;
  justify-content: center;   
  align-items: center;   
  overflow: hidden; 
}

.plus-image > img {
  width: 100px;
  box-shadow: 0 5px 4px rgba(152, 117, 187, 0.209);
  border-radius: 30px;
}

.new-entry-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.new-entry-content > input, textarea {
  width: 80%;
  border: solid 1px #9b80ad93;
  border-radius: 5px;
  color: #653f78;
}

.new-entry-content > input {
  height: 25px;
}

.new-entry-content > textarea {
  max-height: 100px;     
  overflow-y: auto;     
  resize: none;  
}

.new-entry-content > input:focus, textarea:focus {
  outline: none;
  color: #653f78;
}

.new-entry-content > input::placeholder, textarea::placeholder {
  outline: none;
  color: #653f786f;
}

.new-entry-content > button {
  border-radius: 10px;
  border: solid 1px #9b80ad89;
  border-radius: 5px;
  color: #653f78;
  background-color: #f7efff;
}