* {
    box-sizing: border-box;
}

body {
    margin: 0px 20px 0px 20px; 

    header {
        display: flex;
        justify-content: space-between; 
        margin-bottom: 30px;
        margin-top: 10px;

        h1 {
            color: #547463;
        }
    
        .search {
            display: flex;
            flex-direction: row;
            align-items: center; 
            gap: 3px;
            width: 49.3%; 
            margin-top: 4px;

            #search-bar input {
                width: 100%;
                border: solid 1px #739080;
                color: #466454;
            }
            
            #difficulty-filter select {
                height: 20px; 
                width: 100%;
                border: solid 1px #739080;
                color: #466454;
            }

            #search-bar, #difficulty-filter{
                width: 50%; 
            }
        }    
    }

    .main {
        display: flex;  
        flex-direction: row;  
        gap: 20px; 
    }

    #elixirs-list, #elixir-details {
        flex: 1; 
    }

    .elixir-item {
        cursor: pointer;
        padding: 8px;
        border-bottom: 1px solid #acc2b6;
        color: #466454;
    }
    
    .elixir-item:hover {
        background-color: #e0ebe5;
    }
    
    .elixir-details {
        color: #466454;
        padding: 10px;
        border: 1px solid #acc2b6;
        background-color: #e0ebe5;
        position: sticky; 
        top: 20px;       
        min-height: 300px;   
        overflow-y: auto; 
    }   
    
    .selected {
        background-color: #e0ebe5;
    }
}


