* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 30px;
    margin-top: 10px;

    .search {
        display: flex;
        flex-direction: row;
        align-items: center; /* Wyrównuje je w pionie */
        gap: 3px;
        flex-grow: 0; /* Zapewnia, że divy nie będą się rozszerzać poza swój naturalny rozmiar */
    }    
}

#search-bar input {
    width: 340px; /* Możesz dostosować szerokość search bar */
}

#difficulty-filter select {
    width: 340px; /* Ustaw odpowiednią szerokość select */
    height: 21px; /* Możesz dostosować wysokość */
}

body {
    margin: 0px 20px 0px 20px; 

    .main {
        display: flex;  /* Używamy flexboxa, by ustawić kolumny obok siebie */
        flex-direction: row;  /* Ustawiamy kierunek wiersza (domyślnie jest to 'row') */
        gap: 20px;  /* Możesz dodać przerwę między kolumnami, jeśli chcesz */
    }

    #elixirs-list, #elixir-details {
        flex: 1;  /* Sprawia, że obie kolumny zajmują po równo szerokości */
    }

    .elixir-item {
        cursor: pointer;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }
    
    .elixir-item:hover {
        background-color: #e0ebe5;
    }
    
    .elixir-details {
        margin-top: 15px;
        padding: 10px;
        border: 1px solid #aaa;
        background-color: #e0ebe5;
    }    
}


